# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
*.egg-info/

# ML Model files (large files - ignore karo)
Backend/*.pkl

# Node
frontend/node_modules/
frontend/build/
frontend/.env

# OS
.DS_Store
Thumbs.db
