# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
*.egg-info/

# ML Model files - uncomment to ignore
# Backend/*.pkl

# Node
frontend/node_modules/
frontend/build/
frontend/.env

# OS
.DS_Store
Thumbs.db
